<header class='flex fl-d-co fl-al-st pb-4'>
  <div class='flex fl-al-c'>
    <span><%= partial "views/components/vector_fire" %></span>
    <span class='pl-2 text-small'>These users are popular on GitHub right now
    </span>
  </div> 
</header>
