<div class='flex pb-5'>
  <div class='issue-status text-white text-small flex fl-al-c'>
    <%=partial 'views/components/vector_issue' %>
    <%=issue.status%>
  </div> 
  <h2 class='pl-4'>
    <%= issue.title %>
  </h2>
</div>

