<div class='flex fl-al-c data-feed-nav <%= "data-feed-nav-active" if defined? active %>'>
  <%= partial "views/components/vector_#{svg}" %>
  <span class='text-small text-gray pl-1'><%= text %></span>
</div>
