<div class='pt-5 flex al-slf-st'>
  <%= partial 'views/sections/data_feed/repository/navigation_element', locals: { svg: 'brackets', text: 'Code'} %>
  <%= partial 'views/sections/data_feed/repository/navigation_element', locals: { svg: 'issue', text: 'Issues', active: true} %>
  <%= partial 'views/sections/data_feed/repository/navigation_element', locals: { svg: 'pull_request', text: 'Pull requests'} %>
</div>
