<article class='card feed-header feed-repository'> 
  <div class='header-background inner-padding full-width'>
    <%= partial 'views/sections/data_feed/repository/repository_head', locals: { repo: repo, type: type } %>
    <%= partial 'views/sections/data_feed/repository/navigation'%>
  </div>
  
  <div class='feed-repository-issue al-slf-st inner-padding'>
    <%= partial 'views/sections/data_feed/repository/issue_info', locals: { issue: repo.issue } %>
    <%= partial 'views/sections/data_feed/repository/issue_detail', locals: { issue: repo.issue, user: repo.user } %>
  </div>
</article>
