  <article class='card feed-repository'> 
    <div class='header-feed-repository'>
      <%= partial 'views/sections/data_feed/repository/repository_head', locals: { repo: repo } %>
      <%= partial 'views/sections/data_feed/repository/navigation'%>
    </div>
    <h1> hi </h1>
  </article>
