<div class='header'>
  <%= partial "views/components/vector_telescope" %>
  <% link_to link, class: 'text-dark-gray link-header' do %>
    <p> Trending<span class='text-gray'> <%= text %></span> </p>
  <% end %>
</div>
