<section class='user-explorer'>
  <div class='container'> 
    <%= partial 'views/sections/user_explorer/user-info' %>
    <%= partial 'views/sections/user_explorer/trending-repositories' %>
    <%= partial 'views/sections/user_explorer/trending-developers' %>
  </div>
</section>
