.feed-repository {
  padding: 0;
  
  .header-info, .header-feed-repository{
    width: 100%;
  }

  .header-feed-repository {
    padding: 2rem;
    padding-bottom: 0;
    background-color: $gray-100;
  }
  .octicon-telescope {
    width: .75em;
  }
  .data-feed-stars {
    background-color: $white;
  }
}
