
$gray-000: #fafbfc;
$gray-100: #f6f8fa;
$gray-200: #e1e4e8;
$gray-500: #6a737d;
$gray-600: #586069;
$gray-900: #24292e;


$blue-000: #f1f8ff;
$blue-100: #dbedff;
$blue-500: #0366d6;

$green-500: #28a745;

$orange-600: #e36209;

$white: #fff;


$border-gray-light: #eaecef;
$border-gray: #d1d5da;
