.flex {
  display: flex;
}

.fl-al-c {
  align-items: center;
}

.fl-al-st{
  align-items: flex-start;
}

.fl-d-co {
  flex-direction: column;
}

.fl-jc-sb {
  justify-content: space-between;
}

.al-slf-st {
  align-self: flex-start;
}
