/* grid styles */

.container { 
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.column {
  --columns: 12; /* number of columns in the grid system */
  --width: var(--width-mobile, 0); /* default width of the element */
  
  margin: 1rem;
  flex-basis: calc(var(--width) / var(--columns) * 100%);
}

@media (min-width: 545px) {
  .column {
    --width: var(--width-desktop, var(--width-mobile, 0));
  }
}


