$font-size: 16px;
// Colors
.text-gray {
  color: $gray-600;
}
.text-dark-gray {
  color :$gray-900;
}

.text-white {
  color: $white;
}

// type of text
.bold {
  font-weight: bold;
}
// Size
.text-small {
  font-size: .75rem;
}

// Space alignment
.justified {
  text-align: justify; // Not IE11 support
}
